#main {
  background-image: url(../../assets/images/section.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  min-height: 765px;
}
:root {
  --primary-color: #f9ab00;
}
.primary-color {
  color: #f9ab00;
}

/*==============================
	Fonts
==============================*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
.logo-img {
  width: 120px;
  height: 70px;
  background-image: url("../../assets/images/logo1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto 20px;
}
.sign__form {
  background-color: #1a191f;
  border: 1px solid #222028;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.sign__input {
  width: 100%;
  background-color: #222028;
  border: 2px solid transparent;
  height: 46px;
  outline: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  padding: 0 20px;
  margin: 12px 0;
}
.sign__input:focus {
  border-color: var(--primary-color);
}
.sign__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  margin-top: 15px;
  margin-bottom: 15px;
}
.sign__btn:hover {
  color: #fff;
  background-color: rgba(249,171,0,0.05);
}
.sign__text {
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}
.sign__text a {
  display: inline-block;
  text-decoration: none;
  color: #f9ab00;
}
.sign__text a:hover {
  color: #f9ab00;
  text-decoration: underline;
}
@media (min-width: 576px) {
  .sign__form {
    padding: 50px 60px;
  }
  .sign__logo {
    margin-bottom: 50px;
  }
}
.firebaseui-card-content, .firebaseui-card-footer {
  padding: 0 !important;
}