/* A film item */
.card {
  width: 100%;
  /* width: 30vw !important; */
  margin: 3px auto !important;
  border: 1.5px rgba(0, 0, 0, 0.755) solid !important;
}

.card .film-item {
  height: 20rem;
  height: 40vw !important;
}

.card img {
  user-select: none !important;
}

@media (min-width: 576px) {
  .card {
    width: 23vw !important;
    margin: 4px 2px;
  }
  .card .film-item {
    height: 32vw !important;
  }
}


@media (min-width: 768px) {
  .card {
    width: 23.5vw !important;
    margin: 4px 2px;
  }
  .card .film-item {
    height: 32vw !important;
  }
}
 
@media (min-width: 1200px) {
  .card {
    width: 15vw !important;
  }
  .card .film-item {
    height: 17rem;
    height: 20vw !important;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 100% !important;
    margin: 4px 2px;
  }
  .card .film-item {
    height: 30rem!important;
    height: 20vw ;
  }
}