/* A film item */
/* .card {
  width: 100%;
  margin: 0 auto !important;
  background-color: transparent !important;
  border: none !important;
}
.card .film-item {
  height: 20rem;
  height: 40vw !important;
} */

.card {
  margin: 0 auto;
  width: 100%;
  background-color: transparent !important;
  border: none !important;
  padding: 4px 2px;
}
.card .film-item {
  height: 300px !important;
}

.card img {
  user-select: none !important;
  border-radius: 10px;
}

@media (min-width: 600px) and (max-width: 767.9px) {
  .card {
    width: 26vw !important;
  }
  .card .film-item {
    height: 40vw !important;
  }
}

@media (min-width: 768px) {
  .card {
    width: 200px !important;
    /* margin: 4px 2px; */
  }
  .card .film-item {
    height: 300px !important;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 250px !important;
  }
  .card .film-item {
    height: 370px !important;
  }
}

@media (max-width: 575.9px) {
  .card {
    width: 28vw !important;
  }
  .card .film-item {
    height: 36vw !important;
    padding: 0 4px !important;
  }
  .card-title {
    font-size: 0.7rem !important;
  }
  .card-text {
    font-size: 0.5rem !important;
  }
  .sodem {
    width: 10vw !important;
    height: 10vw !important;
  }
}
@media (max-width: 374.9px) {
  .card .film-item {
    height: 36vw !important;
  }
}

/* HOVER IMGAE */
.film-item,
.sodem {
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.film-item:hover {
  opacity: 0.6;
  filter: sepia(30%);
  cursor: pointer;
}
