.mycode {
  width: fit-content;
}

.pd {
  height: 120px;
}

input section {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

input:checked {
  background-color: #f9ab00 !important;
  border: #f9ab00;
}
.form-label a {
  text-decoration: none !important;
}


.line--primary {
  margin: 20px 0;
  border: 2px solid #ffc312;
}

.dashbox__mores {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #ffc312;
  border-radius: 6px;
  border: 1px solid #ffc312;
}
.dashboxs {
  display: flex;
  justify-content: flex-end;
}
.dashbox__mores:hover {
  background-color: #f9ab00;
  color: #000;
}

.modal-content {
  border-radius: 20px 20px 5px 5px !important;
}
.btn_close {
  color: #f9ab00;
  background-color: transparent;
  border-radius: 50%;
}
.btn_close i {
  font-size: 25px;
}
.btn-primarys {
  background-color: #2f80ed !important;
  font-weight: 600 !important;
  color: #fff !important;padding: 5px 9px;
  border: 1px solid #2f80ed !important;
  border-radius: 6px;
}
.btn-secondarys {
  color: #fff !important;
  font-weight: 600 !important;
  padding: 5px 10px;
  border: 1px solid #eb5757 !important;
  background-color: #eb5757;
  border-radius: 6px;
}


/* new table */
.table-phim{
  max-height: 800px;
  /* overflow: hidden; */
  overflow-y: auto;
}