/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */


.chat-component{
    background-size: cover;

}


.chat-area {
  padding: 20px;
  min-height: 30vh;
  max-height: 60vh;
  overflow-y: scroll;
}

.chat-content{
  overflow: hidden;
}

.no-bottom{
  padding-top: 0;
  margin-bottom: 0.5rem;
  /* display: contents; */
}

.userAndTime{
    float: left;
    font-weight: bolder;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    font-size: 80%;
    -webkit-box-orient: vertical;
}

.chat-area .chat-bubble {
  background-color: #b4d2ff;
  padding: 5px;
  border-radius: 5px;
  max-width: 500px;
  word-wrap: break-word;
  display: block;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
   /* background: rgba(0,0,0,0.5); */
  text-align: left;
  display: inline;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #ffc7c7;
}

.form-control {
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}

.btn-submit {
  background-color: #2e7d32;
  color: white;
}

.w-fit{
  width: fit-content;
}


@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}
