/* Scroll to top */
.scrollTop {
  background-color: #e74c3c;
  cursor: pointer;
  right: 20px;
  position: fixed;
  bottom: 50px;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (min-width: 1024px) and (max-width: 1100.9px) {
  footer {
    margin-top: 130px;
  }
} */