.mycode {
    width: fit-content;
  }
  
  
  .dashbox__mores_coin {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 120px; */
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #ffc312;
    border-radius: 6px;
    border: 1px solid #ffc312;
  }
  .dashboxs_coin {
    display: flex;
    justify-content: flex-end;
  }
  .dashbox__mores_coin:hover {
    background-color: #f9ab00;
    color: #000;
  }

  .table-nap{
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll;
}