.mota {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-background {
  background-color: #111111 !important;
}
/* LIST TRENDING  */

.Invisible {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
.mg-card {
  margin-left: -15px;
  margin-right: -15px;
}
.carousel-button-group .left {
  position: absolute;
  width: 40px;
  height: 80px;
  padding: 0;
  top: 9vw;
  left: 3.4vw;
  border-radius: 6px;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.5) 50% !important;
  border: none;
}

.carousel-button-group .right {
  position: absolute;
  width: 40px;
  height: 80px;
  padding: 0;
  top: 9vw;
  right: 3.4vw;
  border-radius: 6px;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.5) 50% !important;
  background-repeat: no-repeat;
  border: none;
}

.sodem {
  margin-bottom: 4rem;

  height: 5rem !important;
  width: 5rem !important;
}
/* SIDE TOP */
.Swiper-loading-top {
  display: block;
  width: 100%;
  position: relative;
}

.res-btn {
  z-index: 999;
}

.slide-top {
  background: black !important;
  background-position: center;
  background-size: cover;
}
/*  */

.text-one-line {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  text-overflow: ellipsis;
}
.background-primary {
  background-color: #f9ab00 !important;
  font-weight: 600 !important;
}
.background-primary:hover {
  opacity: 0.9;
}
.play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}
/* <!-- end - TRENDING LIST --> */

.img-info-film {
  max-height: 800px;
}
/* Responsive */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .img-info-film {
    height: 40vw !important;
  }
  .carousel-button-group .left {
    left: 2.2vw !important;
    top: 9.5vw;
  }
  .carousel-button-group .right {
    right: 2vw !important;
    top: 9.5vw;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .main {
    padding-top: 0 !important;
    margin-top: -10px !important;
  }
  .carousel-button-group .left {
    left: 23px;
    top: 13vw;
  }
  .carousel-button-group .right {
    right: 23px;
    top: 13vw;
  }
}
@media (min-width: 600px) and (max-width: 1023.9px) {
  .img-info-film {
    height: 40vw !important;
  }
}
@media (min-width: 600px) and (max-width: 767.9px) {
  .carousel-button-group .left {
    left: 5.5vw;
    top: 10.5vw;
  }
  .carousel-button-group .right {
    right: 5.5vw;
    top: 10.5vw;
  }
  .res-btn {
    font-size: 1rem !important;
  }
}
@media (max-width: 599.9px) {
  .img-info-film {
    height: 40vw !important;
  }
  .res-btn {
    font-size: 0.8rem !important;
  }
  .carousel-caption > h1 {
    font-size: 1.2rem;
  }
  .carousel-caption > p {
    font-size: 0.6rem;
  }
  .carousel-button-group .left {
    left: 3.1vw;
    top: 14vw;
    width: 40px;
    height: 40px;
  }
  .carousel-button-group .right {
    top: 14vw;
    right: 2.7vw;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 374.9px) {
  .carousel-caption {
    position: relative;
    top: 10px;
  }
  .carousel-caption > h1 {
    font-size: 1rem;
  }
  .carousel-button-group .left {
    left: 3vw;
    top: 14vw;
    width: 36px;
    height: 36px;
  }
  .carousel-button-group .right {
    top: 14vw;
    right: 3vw;
    width: 36px;
    height: 36px;
  }
}
