/* HEADER */
#header {
  text-align: center !important;
  display: block;
}
#header-real {
  padding: 0;
  margin: 0;
}
.header-nav-bar div {
  max-height: 62px;
}
.show-category {
  display: none !important;
}
.user-action {
  display: none !important;
}
.show-search-tablet {
  display: none;
}
/* Search */
.btn-search {
  width: 30px;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
}
.input_search {
  outline: none !important;
  border: none !important;
}
.search-container {
  max-width: 234px;
  height: 34px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Menu category and user*/
.dropdown-show:hover .menu-dropdown {
  display: block;
}
.menu-dropdown {
  position: absolute;
  top: 90%;
  display: none;
  z-index: 1000;
  min-width: 10rem;
  max-width: 38.1rem;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.min-height-type {
  min-height: 10rem;
}
.max-width-nation {
  max-width: 25rem;
}
.max-width-user {
  max-width: 12rem;
}
.menu-dropdown > li {
  display: inline;
}
.menu-dropdown-item {
  line-height: 38px;
  padding: 8px;
}
.menu-dropdown-item:hover,
.menu-dropdown-item:hover > span {
  color: #f9ab00 !important;
}
.user-item > .menu-dropdown-item {
  display: block !important;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}
.user_info:hover {
  cursor: pointer;
}
.user__dropdown {
  right: 0 !important;
  width: 18% !important;
}

/* Responsive */
@media (min-width: 1024px) and (max-width: 1200px) {
  .search-container > input {
    max-width: 100px;
  }
  .nav-item > a {
    font-size: 0.85rem;
  }
  .menu-dropdown {
    max-width: 36rem;
  }
  .max-width-nation {
    max-width: 25rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .hidden-ipad {
    display: none !important;
  }
  .show-category {
    display: block !important;
  }
  .NavLogo {
    margin-left: 20px !important;
  }
  #search {
    margin-left: 100px !important;
  }
  #userlogo {
    margin-left: 70px !important;
  }
  .menu-dropdown {
    top: 80%;
    right: 0;
  }
  .user__dropdown {
    right: 0 !important;
    width: 80% !important;
  }
}

/* @media (max-width: 1068px) {
  #header-real div div ul li,
  #header-real div div button,
  #header-real div div form input,
  #header-real div div form button {
    font-size: 70%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 863px) {
  #header-real div div ul li,
  #header-real div div button,
  #header-real div div form input,
  #header-real div div form button {
    font-size: 56%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* Header Small screen hone */
@media (max-width: 767.9px) {
  .main {
    padding-top: 52px !important;
  }
  .hidden-small-tablet {
    display: none !important;
  }
  .show-search-tablet {
    display: block !important;
  }
  .user-action {
    display: block !important;
  }
  .header-nav-bar div {
    max-height: fit-content;
  }
  .menu-dropdown-item {
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
  }
  #category {
    border-top: 1px solid rgb(107, 106, 106);
  }
  #category > .nav-item > .nav-link {
    width: 100%;
  }
  .user-item > button {
    width: 100%;
  }
  .btn_login {
    width: 100% !important;
    display: block;
    font-weight: bolder;
    padding: 10px 0;
  }
  #header-real div div ul li,
  #header-real div div button,
  #header-real div div form button {
    font-size: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .logomenu {
    margin-left: 50vw !important;
  }

  .menu-header ul {
    max-height: 70vh;
    overflow: auto !important;
  }
}

/* Line under category*/
.strong-three{
  display: flex;
  align-items: center;
}
.strong-three a  {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.strong-three a ::before {
  overflow: hidden;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: currentcolor;
  transform: translateX(-110%);
  transition: transform 1s ease;
}
.strong-three a :hover::before {
  transform: translateX(110%);
  color: #f9ab00;
}
.strong-three:hover > a > strong {
  color: #f9ab00;
}
li a{
  cursor: pointer;
}
