
  /* A film item */
 .card img{
   width: 100%;
   height: 400px;
}

.font-size-label {
  font-size: 1.4rem !important;
}

.select-type {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.text-one-line {

  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  text-overflow: ellipsis;
}

.showSearch {
  display: none;
  margin-bottom: 10px;
}

.search_film {
  /* margin-top: -10px !important; */
  outline: none !important;
  padding: 4px 8px !important;
  border-radius: 10px;
  border: none !important;
}

/* responsive */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .font-size-label {
    font-size: 1rem !important;
    margin-top: 20px !important;
  }
  #theloaiSelect {
    padding: 0 !important;
    width: 130px !important;
  }
  .select-type {
    display: inline !important;
  }
  .select-type > div {
    margin-left: 4px !important;
    display: flex;
    width: 100%;
  }
  .width-col > div:nth-child(1) {
    width: 67% !important;
  }
  .width-col > div:nth-child(2) {
    width: 16% !important;
  }
}

@media (max-width: 767.9px) {
  .showSearch {
    display: block !important;
  }
  .font-size-label {
    font-size: 1rem !important;
    width: 68px !important;
    margin-top: 20px !important;
  }
  .width-col > div:nth-child(1) {
    width: 100% !important;
  }
  .width-col > div:nth-child(2) {
    width: 100% !important;
  }
  .select-type > div {
    margin-left: 4px !important;
    display: flex;
    width: 100%;
  }
  .select-type {
    display: flex !important;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
  .search_film {
    /* margin-top: -10px !important; */
    margin-right: 10px;
    outline: none !important;
    padding: 4px 8px !important;
    border-radius: 10px;
    border: none !important;
    height: 46px;
  }
  .hidenDelete {
    display: none;
  }
}
@media (max-width: 599.9px) {
  .width-col > div:nth-child(1) {
    margin-top: -40px !important;
  }
  .width-col #theloaiSelect {
    width: 60% !important;
  }
  .width-col > div:nth-child(2) {
    margin: -20px 0;
  }
  .width-col > div:nth-child(3) {
    width: 100% !important;
  }
  .showSearch {
    margin-bottom: 50px !important;
  }
}