.mycode {
  width: fit-content;
}
.dashbox__mores_user {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #ffc312;
  border-radius: 6px;
  border: 1px solid #ffc312;
}
.dashboxs_user {
  display: flex;
  justify-content: flex-end;
}
.dashbox__mores_user:hover {
  background-color: #f9ab00;
  color: #000;
}

/* Model Buy Tickets */
.model-buy-tickets {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.open {
  display: flex;
}

.buy-tickets {
  position: relative;
  background-color: #fff;
  width: 900px;
  animation: modelFadein ease 0.4s;
}

.buy-header {
  background-color: #009688;
  color: #fff;
  padding: 32px 16px;
  text-align: center;
}

.buy-header .buy-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 16px;
}

.buy-header .buy-close:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}

.buy-header .buy-heading {
  font-size: 30px;
  letter-spacing: 4px;
  margin: 10px 0;
  padding: 5px 0;
}

.buy-body {
  padding: 0.15px 16px;
}

.buy-body .buy-lable {
  display: block;
  margin-top: 15px;
}

.buy-body .buy-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  width: 100%;
}

.buy-body .pay-btn {
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 1.4;
  background-color: #009688;
  color: #fff;
  padding: 16px 16px;
  margin: 16px 0;
}

.buy-body .pay-btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}

.buy-body .buy-footer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.close-btn {
  border: none;
  background-color: #f44336;
  color: #fff;
  padding: 8px 16px;
}

.close-btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}

.help {
  color: #2196F3;
}

@keyframes modelFadein {
  from {
      opacity: 0;
      transform: translateY(-150px);
  }
  to {
      opacity: 1;
      transform: translateY(0);

  }
}

/* new table ediy */
.table-user{
  max-height: 800px;
  /* overflow-y: hidden; */
  overflow-y: auto;
}