.mycode {
    width: fit-content;
  }
  
  
  .main__table_voucher-btn--delete { 
    color: #fff !important;
    background-color: #eb5757 !important;
  }
  .main__table_voucher-btn--delete:hover {
    border: 1px solid #eb5757 !important;
    background-color: rgba(235,87,87,0.2) !important;
    color: #eb5757 !important;
  }
  
  
  .dashbox__mores_voucher {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #ffc312;
    border-radius: 6px;
    border: 1px solid #ffc312;
  }
  .dashboxs_voucher {
    display: flex;
    justify-content: flex-end;
  }
  .dashbox__mores_voucher:hover {
    background-color: #f9ab00;
    color: #000;
  }

    .table-voucher{
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll;
}
 